@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Nanum+Gothic:wght@700&family=Rubik:wght@300&display=swap');
body {
    background-color: black;
    background-repeat: no-repeat;
    background-size: 100%;
}

#title {
    display: flex;
    justify-content: center;
    margin-top: 10%;
    color: white;
    font-family: 'Bebas Neue', cursive;
}

#item {
    color: white;
    font-family: 'Bebas Neue', cursive;
}